body {
  border: 10px solid black;
}
.kotak {
  border: 2px solid #9DD1F1;
  display: inline-block;
  height: 100px;
  margin-top: 4px;
  padding: 30px auto;
  text-align: center;
  width: 100px;
  background-color: blue;
}

header{
  margin: 20px 380px;
}

#artikel{
  margin: 10px 150px;
  border: 1px solid yellow;
}

.title{
  text-align: center;
}
img{
  float: left;
  height: 80px;
  width: 80px;
}

.judul{
  border: 2px solid #9DD1F1;
  display: inline-block;
  height: 20px;
  margin-top: 4px;
  padding: 30px auto;
  text-align: center;
  width: 530px;
  background-color: orange;
}
.title{
  font-size: 40px;
  color: red;
}
